@import '../../styles/variables';
@import '../../styles/mixin';

.othDays {
    display: flex;
    justify-content: space-between;
    width: $full;

    &>* {
        @include flexCtr(column, center, center);
        flex: 1 1;
    }

    .dayT {
        border-right: 1px solid $light;
    }

}