// colors
$primary: #f58a07;
$secondary: #0487e2;
$dark: #323031;
$light: #fbf5f3;
// sizes
$pHeight: 100vh;
$v1px: 5px;
$v2px: 10px;
$v3px: 20px;
$v4px: 50px;
$v5px: 100px;
$full: 100%;
// z-index
$zBack: 1;
$zFront: 5;
// usefull
$B: bold;
$ctr: center;
$fl: flex;